.intro{
    text-align: center;
    background-color:rgb(140, 207, 252)
}
img{
    border-radius: 500px;
}
.nav-item{
    outline: 5px solid;
    margin:0px;
    padding: 10px;
   
  
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover{ 
  border:  0.01px solid;
  background-color: rgb(0, 171, 245);
}


a:active { text-decoration: none; }
nav{
  display: flex;
  justify-content: space-around;
  
}
#name{
    color: azure;
    font-size: 2cm;
    font-family: 'Anton',sans-serif;
}
.intro-button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin: 20px;
    
}
#title{
    font-size: 1cm;
}
.tag{
    display: inline-block;
}
.desc{
    display: inline-block;
}
.honesty{
    display: inline-block;
}
.info{
    display: inline-block;
}
#about{
    margin-top: 5px;
    border : solid 5px blue ;
    border-radius: 10px;
    display: inline-block;
}
#education{
  text-align: center;
}

